<h1> Your Vehicle </h1>
<form action="/sessions/car/<%=@car.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete" >
</form>


<a href="/garage"> My Garage</a>