<h1> add your vehicle </h1>

<form  action='/new/car' method="POST">
    <input type="" placeholder="make" name="make">
    <input type="text" placeholder="model" name="model">
    <input type="text" placeholder="year" name="year">
    <input type="submit" name="Sign Up" value="Sign Up">
</form>