<h1> add your vehicle </h1>
<br>
<form  action='/cars' method="POST">
    <input type="text" placeholder="make" name="make">
    <input type="text" placeholder="model" name="model">
    <input type="text" placeholder="year" name="year">
    <input type="submit" name="Add" value="Add">
</form>