


<!DOCTYPE html>
<html>
<head>
<link rel=”stylesheet” type=”text/css” href=”/style.css” />
</head>

<img src=”images/brooklynbridgepostcard.jpg”>

    <body>
    <h1>Welcome to Mercedez forums</h1>
    <h4>Please sign up or log in to access your account</h4>
    

    <a href="/registrations/signup">Sign Up</a>
    <a href="/sessions/login">Log In</a>

    </body>

</html>